@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-bg-color: #3c3c45;
  --h1: white;
  --play: #0066b8;
  --info-bg: #dbdbdb;
  --info-text: #303030;
  --feature-h2: #cfcfcf;
  --feature-border: #0066b8;
  --download: #4f4f5a;
}

body {
  background: var(--main-bg-color);
}

/* ==================================== */
/*                 NAVBAR               */
/* ==================================== */
ul {
  position: relative;
  margin-top: 25px;
  margin-left: 3%;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  align-items: center;

  font-family: "Montserrat";
  font-weight: bolder;
  padding: 0;
}
li a {
  color: var(--h1);
  text-decoration: none;
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
li a {
  position: relative;
}
li a::after {
  content: "";
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4em;
  background: var(--play);
  z-index: -1;
  opacity: 0.8;
  transition: transform 0.3s;
}
li a:hover::after {
  transform: scaleX(1);
}
.nav_play {
  cursor: pointer;

  position: absolute;
  right: 20px;

  font-family: "Montserrat";
  font-weight: bold;
  text-decoration: none;

  color: var(--h1);
  padding: 5px 15px 5px 15px;

  background-color: var(--play);
  border-radius: 6px;

  transition: transform 330ms ease-in-out;
  transform: scale(1);

  animation-name: nav_play;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;

  animation-iteration-count: 1;

  animation-name: nav_play_heart;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.nav_play:hover {
  transition: transform 330ms ease-in-out;
  transform: scale(1.1);
}
@keyframes nav_play {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes nav_play_heart {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100%{
    transform: scale(1.05);
  }
}
